$text-color-main: #FFF;
$text-color-nav: #FFF;
$text-color-button: #FFF;


$nav-color: #57a6a8;
$background-color: #85dcb0;
$todo-background-color: #aa838f;
$button-color-1: #41b3a3;
$button-color-2: #276e65;


$font-size: 1.5em;

body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $text-color-main;
    background-color: $background-color;
    font-size: $font-size;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidden{
    display: none!important;
}

nav{
    background-color: $nav-color;
    padding: 1px;
    ul{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        li{height: 100%;}

        a{
            height: 100%;
            color: $text-color-nav;
            text-decoration: none;
        }
    }
}

main{
    input{
        display: inline-block;
        margin-right: 10px;
    }
    #addBtn{
        display: inline-block;
    }

    .todoItem{
        display:grid;
        grid-template-columns: 1fr 4fr 1fr;
        width: 70%;
        align-items: center;
        margin: 1px auto;
        background-color: $todo-background-color;
        padding: 5px;
        border-radius: 5px;
    }

    .filterBtn{
        display: inline-block;
        margin-right: 5px;

        &.active{
            background: linear-gradient($button-color-2, $button-color-1);
        }
    }
}

form{
    input, textarea{
        width: 80%;
    }
}

button{
    background: linear-gradient($button-color-1, $button-color-2);
    color: $text-color-button;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px 0;

    &:hover{
        background: linear-gradient($button-color-2, $button-color-1);
    }
}